.card-custom {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #198754;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #b3ff2f 0%, #57ff48 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
    color: rgb(164, 7, 7);
  }
  
  .card-custom .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .card-custom .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  .card-custom:hover {
    height: 270px;
  }
  
  .card-custom:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
  }
  
  .card-custom:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
  }

  .a-custom{
    text-decoration: none;
  }

  .icon i.fa-solid {
    font-size: 36px; /* Ajusta el tamaño del ícono según tus preferencias */
}