// .card-cafeto.card-outline {
//     border-top: 3px solid #734226;
//   }
  


.main-header .navbar-nav .active{
	background-color:#A4A4A4 !important;

}

// .navbar-white {
//     background-color: #734226;
//     color: #fff;
//   }



.layout-navbar-fixed .wrapper .sidebar-dark-cafeto .brand-link:not([class*="navbar"]) {
    background-color: #343a40;
  }

// .sidebar-dark-cafeto .nav-sidebar > .nav-item > .nav-link.active,
//   .sidebar-light-cafeto .nav-sidebar > .nav-item > .nav-link.active {
//     background-color: #734226;
//     color: #fff;
//   }  

#breadvar{
	padding:8px;
	border-radius:4px;
    

}

.breadcrumb .breadcrumb-item a{
	color:#e0e0e0 !important;
	text-decoration:none;

}

.breadcrumb li + li:before{
	color:#000000 !important;
}

.mtop16{
	margin-top:16px;
}

.mbottom16{
	margin-bottom:16px;
}

#form-control-border{
	border-top:0;
	border-left:0;
	border-right:0;
	border-radius:0;
	box-shadow:inherit
}