/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/Modules/SIGAC
/Modules/PTVENTA
_ide_helper_models.php
_ide_helper.php
/config/ide-helper.php
composer.lock