/node_modules
Modules/GVFF/node_modules
/vendor
/public/hot
/public/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode