#edit{
    width: 125px;/* ancho */
    height: 30px;/* altura */
}

#delete{
    width: 125px;/* ancho */
    height: 30px;/* altura */
}

.card{
    width: 1200px;/* ancho */
    height: 800px;/* altura */
}