#shell {

    width:760px;
    height:420px;
    margin:0 auto;
    margin-top: 60px;
}

.puzzle {
    width: 10em;
  	height: 10em;
    line-height: 100px;
    text-align: center;
    background-size: cover;
    position: relative;
    float:left;
    margin:0px;
	cursor: pointer;
}

.text {
  display: block;
  color: #fff;
  font-size: 3em;
  text-align: center;
  padding: 0.2em 0 0 0.4em;
  position: relative;
  background: transparent !important;
}

.puzzle .t {
 width: 2.7em;
  height: 2.7em;
  position: absolute;
  top: -2.3em;
  left: 3.6em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.puzzle .r {
 width: 2.7em;
  height: 2.7em;
  position: absolute;
  top: 3.65em;
  left: 9.55em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}


#p1 {
	 background-image: url('../images/puzzle1.png');
}
#p1 span {
	background-color: #00acff;
}

#p2 {
	 background-image: url('../images/puzzle2.png');
	 color: #00c900;
}
#p2 span {
	background-color: #00c900;
}

#p3 {
	 background-image: url('../images/puzzle3.png');
	 color: #ff1585;
}
#p3 span {
	background-color: #ff1585;
}

#p4 {
	 background-image: url('../images/puzzle4.png');
	 color: #ff5e1f;
}
#p4 span {
	background-color: #ff5e1f;
}

#p5 {
	 background-image: url('../images/puzzle5.png');
	 color: #b40047;
}
#p5 span {
	background-color: #b40047;
}

#p6 {
	 background-image: url('../images/puzzle6.png');
	 color: #fdd835;
}
#p6 span {
	background-color: #fdd835;
}

#p7 {
	 background-image: url('../images/puzzle7.png');
	 color: #4d4d4d;
}
#p7 span {
	background-color: #4d4d4d;
}

#p8 {
	 background-image: url('../images/puzzle8.png');
	 color: #795548;
}
#p8 span {
	background-color: #795548;
}

#p9 {
	 background-image: url('../images/puzzle9.png');
	 color: #009688;
}
#p9 span {
	background-color: #009688;
}


#p10 {
	 background-image: url('../images/puzzle10.png');
	 color: #5e35b1;
}
#p10 span {
	background-color: #5e35b1;
}

#p11 {
	 background-image: url('../images/puzzle11.png');
	 color: #0277bd;
}
#p11 span {
	background-color: #0277bd;
}

#p12 {
	 background-image: url('../images/puzzle12.png');
	 color: #aeea00;
}
#p12 span {
	background-color: #aeea00;
}