
.main-header
	background-color #ff5e1f !important
	.navbar-nav
		a
			color #e0e0e0 !important
			&:hover
				background-color #ff7d47 !important
				color #fff !important
				
		.active
			background-color #ff7d47 !important
			color #fff !important

.content-wrapper
	background-color #e0e0e0 !important
	
.nav-item
	a
		&:hover
				color #fff !important
	.active
		background-color #ff5e1f !important
		color #fff !important
	.dropdown-menu
		.dropdown-item
			color #333 !important

#breadvar
	padding 8px
	background-color #ff7d47
	border-radius 4px;

.breadcrumb
	.breadcrumb-item
		color #e0e0e0 !important
	.breadcrumb-item .active
		color #fff !important
	li + li
		&:before
			color #e0e0e0 !important
			
.card-header
	padding 0.2em 0 0.2em 0 !important
	color #fff

.btn
	font-size 1.4em
		
#shell
	margin 0px auto
	padding 80px

.puzzle 
	width 10em
	height 10em
	line-height 100px
	text-align center
	background-size cover
	position relative
	float left
	margin 0px
	cursor pointer
	.t 
		width 2.7em
		height 2.7em
		position absolute
		top -2.3em
		left 3.65em
		-webkit-border-radius 100%
		-moz-border-radius 100%
		border-radius 100%
	.r 
		width 2.7em
		height 2.7em
		position absolute
		top 3.65em
		left 9.6em
		-webkit-border-radius 100%
		-moz-border-radius 100%
		border-radius 100%

.text 
	display block
	font-size 42px
	text-align center
	padding 0.2em 0 0 0.4em
	position relative
	background transparent !important
	a
		text-decoration none !important
		color #fff
		&:hover
				color #fff !important
				font-size 45px
