.activities-card {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(0, 0, 0);
}

.activitiescard-header{
    background-color: #f7f4f4;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    text-align: center;
    color: #f8b6c1;;
    font-weight: bold;
}

.activitiescard-header h2{
    font-weight: bold;
}

.activities-footer{
    background-color: #f7f4f4;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #f8b6c1;
}

.activities-footer p{
    color: #f8b6c1;
    font-weight: bold;
}

.actividades-container{
    width: 95%;
    margin-left: 50px;
}

.card{
    margin-top:2rem !important;
}

.p{
    text-align: justify;
}

