.navbar-nav li a {
    color: black; 
    text-decoration: none; 
}
  
.navbar-nav li a.selected {
    background-color: #97a6b4; 
    color: #ffd1dc;
    border-radius: 4px;
}

.navbar-brand{
    padding: 4px;
}

.salir p{
    font-size: 10px;
}

.user-panel{
  position: relative;
  right: 50px;
}

#title{
  position: relative;
  left: 10px;
  font-weight: bold;
  color: rgb(248, 182, 193);
}

#userDropdown{
  position: relative;
  left: 20px;
  text-decoration: none;
  color: rgb(248, 182, 193);
}

#menu{
  right: 0;
  left: auto;
  width: 200px;
  background-color: rgb(247, 244, 244);
}

.image_login img{
  position: relative;
  left: 10px;
  width: 80px;
}

.welcome{
  position: relative;
  left: 10px;
  font-weight: bold;
  color: rgb(248, 182, 193);
  font-size: 20px;
}

.login a{
  position: relative;
  left: 10px;
  text-decoration: none;
  color: black;
}

#icon_login i{
  position: relative;
  left: 10px;
  color: rgb(248, 182, 193);
}

#logout{
  position: relative;
  left: 10px;
  color: rgb(248, 182, 193);
}

#sicefa{
  position: relative;
  right: 5px;
  color: #ff5e1f;
  font-size: 20px;
}

#volver-sicefa{
  text-decoration: none;
  font-weight: bold;
  color: black;
}


.image_logout img{
  position: relative;
  left: 10px;
  width: 80px;
}

.nickname{
  position: relative;
  left: 10px;
  font-weight: bold;
  color: rgb(248, 182, 193);
  font-size: 20px;
}

.small{
  position: relative;
  left: 10px;
  font-size: 20px;
}

  /* Estilos para el menú desplegable */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    list-style: none;
  }
  
  .dropdown-item {
    margin-bottom: 5px;
  }
  
  /* Estilos para mostrar el menú desplegable cuando se hace clic en el botón */
  .show {
    display: block;
  }
  