.info-user{
  overflow: visible !important;
  color:  #c2c7d0 !important;
}

.sidebar-mini.sidebar-collapse .info {
  animation-name: fadeOut;
  animation-duration: .3s;
  animation-fill-mode: both;
  display: none;
}


.sidebar-collapse .main-sidebar:hover .info {
  animation-name: fadeIn;
  animation-duration: .1s;
  display: block !important;
}