body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

.iconos {
    font-size: 25px;
    margin-top: -2px;
    display: block;
}


/* Estilos para las etiquetas del navbar */
.navbar {
    background-color: #f3f3f3;
    color: #313131;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .navbar-links a:hover {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(175, 176, 177);
  }

  #inicio {
    margin-right: 100px;
    margin-left: 100px;
  }

  .navbar-links {
    display: flex; /* Mostrar elementos en fila */
    align-items: center; /* Centrar verticalmente */
  }

  .navbar-link {
    text-decoration: none;
    color: #5e5e5e;
    display: flex;
    align-items: center;
    border-radius: 6px;
  }

  .navbar-links .icon{
    border-radius: 6px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 25px;
    font-size: 20px;
  }

  .navbar-link:not(:last-child) {
    margin-right: 20px; /* Espacio entre elementos */
  }


  .sidebar {
    width: 250px;
    height: 100%;
    background-color: #1141dd;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -250px;
    transition: right 0.3s ease-in-out;
  }

  .sidebar-toggle {
    font-size: 24px; /* Ajusta el tamaño del icono */
    border: none; /* Elimina el borde */
    background-color: transparent; /* Fondo transparente */
    padding: 5px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    position: absolute;
    left: 10px;
    z-index: 2;
  }

  .sidebar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo al pasar por encima */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
  }


  .sidebar h2 {
    margin-bottom: 10px;
  }

/* Estilos para los elementos li en el sidebar */
.sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar li {
    margin-bottom: 10px;
    display: flex; /* Mostrar elementos en fila */
    align-items: center; /* Centrar verticalmente */
    font-size: 15px;
  }


  .sidebar li a {
    margin-top: 25px;
    list-style: none;
    height: 100%;
    background-color: transparent;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: color 0.3s; /* Transición suave para el color del texto */
  }

  .sidebar li a img {
    margin-right: 8px; /* Espacio entre la imagen y el texto */
  }

  .sidebar li a:hover {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(71, 148, 221);
  }

  .sidebar .icon{
    border-radius: 6px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 40px;
    font-size: 20px;
  }

  #space{
    margin-top: 120px;
  }

  #spaceh3{
    margin-bottom: 30px;
  }

.content {
    margin-left: 0; /* Asegurarse de que el margen inicial sea 0 */
    padding: 20px;
    transition: margin-left 0.3s ease-in-out; /* Agregar transición al margen izquierdo */
  }

#sicefa{
    margin-top: 5px;
}

