.navbar {
  background-color: gray; /* Fondo gris */
  color: white; /* Texto blanco */
  padding: 10px; /* Espaciado exterior */
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.card {
  width: 400px;
  height: 300px;
  margin: 0 10px; 
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.blue-border {
  border: 2px solid blue;
}

.red-border {
  border: 2px solid red;
}

.card:hover {
  transform: scale(1.1); 
} 