/* ---- Personalizacion de estilos de cada boton del sidebar ---- */

.content-wrapper {
  background-image: url('/modules/sigac/images/books.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos del navbar personalizados: En caso de no quererlos solo borre la clase CSS */
/* Color de la barra de navegacion superior, donde se agregan los botones como iniciar sesion, entre otros */
.navbar {
  background-color: #ffffff;
}

/* Color de los iconos, botones o links que se agreguen a la barra de navegacion superior */
.navbar-nav .nav-item .nav-link {
  color: #0a2472a0 !important;
}

/* Color del texto o icono al pasar el mouse sobre el, va ajuntado con el  */
.navbar-nav .nav-item .nav-link:hover {
  color: #ffffff !important;
}

/* Similar al estilo anterior solo que este es cuanto el boton se quede activado */
.navbar-nav .active {
  background-color: #CCDDD3 !important;
  border-radius: 5px;
}

/* Color para el boton o icono del navbar al pasar el mouse */
.navbar-nav .nav-item:hover {
  background-color: #0a2472cd !important;
  border-radius: 5px;
}

/* Estilos del sidebar personalizados: En caso de no quererlos solo borre la clase CSS */
/* Color del sidebar */
.sidebar-dark-blue {
  background: #0A2472 !important;
}

.sidebar-mini.sidebar-collapse .info {
  animation-name: fadeOut;
  animation-duration: .3s;
  animation-fill-mode: both;
  display: none;
}


.sidebar-collapse .main-sidebar:hover .info {
  animation-name: fadeIn;
  animation-duration: .1s;
  display: block !important;
}

/* Al ir a una funcion del sidebar este quedara activo mientras se esta en el grupo de vistas de las rutas especificadas */
.nav-item .active {
  background-color: #07194e !important;
  color: #ffffff !important;
}

/* Al pasar el Mouse se aplicara el color asigando */
.nav-item:hover {
  background-color: #07194e !important;
  color: #fff !important;
  border-radius: 5px;
}

/* Color de los botones que se encuentran en el sidebar */
.nav-link {
  color: #ffffff !important;
}

/* Al pasar el Mouse por el boton */
.nav-item .active:hover {
  color: #fff !important;
  border-radius: 5px;
}

/* Borde del siderbar que separa el nombre y el logo del las opciones del sidebar */
.brand-link {
  border-bottom: 1px solid #ffffff83 !important;
  box-shadow: 0px 2px 3px rgba(191, 191, 191, 0.3);
}

/* Estilos varios personalizados: En caso de no quererlos solo borre la clase CSS */

/* Al navegar por las vistas la primera en la guia del breadcrum tendra un tono mas claro */
.breadcrumb-item a {
  color: #6c757d !important;
}

/* Tamaño del texto de la pantalla inicial */
.hmax {
  font-size: 80px;
}

/* Clase que aplica la propiedad de tamaño de la imagen que este dentro de la card de la pagina principal */
.custom-img {
  width: 100px !important;
  height: auto !important;
}

/* Seccion de acceso rapido a aplicaciones */
/* Ajusta el tamano de la caja donde se encuentra el icono de la aplicacion y a la vez se realizan los ajustes personalizables de bordes, tamaño, alto y ancho especifico */
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 20px 10px 20px;
  border-radius: 10px;
  transition: all ease-in-out 0.4s;
  background: #fff;
  min-width: 80px;
  /* Ancho fijo deseado */
}

/* Ajusta el tamaño y color que tiene en el primer momento de mostra la seccion de aplicaciones, aqui se puede ajustar el tamaño del icono y a la vez el color que tiene por defecto si pasar el mouse aun sobre el */
.services .icon-box .icon i {
  color: rgba(0, 0, 0);
  font-size: 30px;
  transition: 0.3s;
}

.services .icon-box h4 a {
  color: #4B4B4B;
  transition: ease-in-out 0.3s;
}

.services .icon-box:hover {
  transform: translateY(-5px);
}

/* Los siguientes estilos son lo que se aplican a los selects del llamado de asistencia, cada uno esta segun el valor del select que se tome */
.green-background {
  background-color: green !important;
}

.yellow-background {
  background-color: yellow !important;
}

.orange-background {
  background-color: orange !important;
}

.red-background {
  background-color: red !important;
}

/* CSS Styles Button select type attendance */
/* Estilos personalizados para el boton de asistencias */

/* Variables de colores inciales */
.wrapper-custom {
  --background: #62abff;
  --icon-color: #414856;
  --width: 35px;
  --height: 35px;
  --border-radius: var(--height);
  width: var(--width);
  height: var(--height);
  position: relative;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Color y tamaño del circulo que rodea el boton "+" */
.wrapper-custom .btn {
  background: var(--background);
  width: var(--width);
  height: var(--height);
  position: relative;
  z-index: 2;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: plus-animation-reverse 0.5s ease-out forwards;
          animation: plus-animation-reverse 0.5s ease-out forwards;
}
/* Ajusta el color del icono "+" y la posicion del boton */
.wrapper-custom .btn::before, .wrapper-custom .btn::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4px;
  background: #fff;
}
/* Tamaño del boton inicial, esta ajusta la barra vertical */
.wrapper-custom .btn::before {
  width: 4px;
  height: 18px;
}
/* Tamaño del boton inicial, esta ajusta la barra horizontal */
.wrapper-custom .btn::after {
  width: 18px;
  height: 4px;
}

/* Ajusta el box donde se encuentran los elementos tooltip */
.wrapper-custom .tooltip {
  width: 90px;
  height: 75px;
  border-radius: 70px;
  position: absolute;
  background: #fff;
  z-index: 2;
  padding: 0 15px;
  box-shadow: 0 10px 10px rgba(65, 72, 86, 0.05);
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.15s ease-in, top 0.15s ease-in, width 0.15s ease-in;
}

/* Tamaño de los botones del tooltip */
.wrapper-custom .tooltip > svg {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.wrapper-custom .tooltip > svg .icon {
  fill: none;
  stroke: var(--icon-color);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}
.wrapper-custom .tooltip > svg:hover .icon {
  opacity: 1;
}
.wrapper-custom .tooltip::after {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -8px;
  transform: rotate(45deg);
  z-index: 0;
}
.wrapper-custom > svg {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 1;
  transform: scale(0);
}

.wrapper-custom input {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  cursor: pointer;
  position: absolute;
  z-index: 5;
  opacity: 0;
}

.wrapper-custom input:checked ~ .btn {
  -webkit-animation: plus-animation 0.5s ease-out forwards;
          animation: plus-animation 0.5s ease-out forwards;
}
.wrapper-custom input:checked ~ .tooltip {
  width: 190px;
  height: 70px;
  -webkit-animation: stretch-animation 1s ease-out forwards 0.15s;
          animation: stretch-animation 1s ease-out forwards 0.15s;
  top: -90px;
  opacity: 1;
}

/* Animaciones del del boton de asistencia */
@-webkit-keyframes pang-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes pang-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@-webkit-keyframes plus-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(0.93);
  }
  55% {
    transform: rotate(35deg) scale(0.97);
  }
  80% {
    transform: rotate(48deg) scale(0.94);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}
@keyframes plus-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(0.93);
  }
  55% {
    transform: rotate(35deg) scale(0.97);
  }
  80% {
    transform: rotate(48deg) scale(0.94);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}
@-webkit-keyframes plus-animation-reverse {
  0% {
    transform: rotate(45deg) scale(0.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@keyframes plus-animation-reverse {
  0% {
    transform: rotate(45deg) scale(0.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@-webkit-keyframes stretch-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes stretch-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}