/* Estilos para el menú desplegable */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown .custom-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 160px;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    background-color: #1C8147;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.custom-dropdown:hover .custom-dropdown-menu {
    display: block;
}

/* Estilos para las opciones del menú */
.custom-dropdown-menu li {
    display: block;
    padding: 5px 10px;
    border-radius: 10px;
}

.custom-dropdown-menu a {
    color: white;
    text-decoration: none;
}

.custom-dropdown-menu li:hover {
    background-color: #0C3A20;
}

