
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  background: #000000;
  border-radius: 9px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  font-size: 1rem;
  padding: 0 10px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}
nav ul li:after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover::after{
  width:100%;
}
