/* TITULO ACERCA DE AGROCEFA */

button {
    position: relative;
    padding: 15px 45px;
    background: #37eb27;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 1px solid #009726;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
    }

button:hover {
    border: 1px solid #009726;
    background: linear-gradient(85deg, #95fe95, #95fe95, #95fe95, #95fe95, #95fe95);
    animation: wind 2s ease-in-out infinite;
    }

@keyframes wind {
    0% {
    background-position: 0% 50%;
    }

    0% {
    background-position: 50% 100%;
    }

0% {
background-position: 0% 50%;
    }
    }

.icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
    }

button:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
    }

@keyframes slay-1 {
    0% {
    transform: rotate(10deg);
    }

    50% {
    transform: rotate(-5deg);
    }

    100% {
    transform: rotate(10deg);
    }
    }

.icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
    }

button:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
    }

@keyframes slay-2 {
    0% {
    transform: rotate(0deg);
    }

    50% {
    transform: rotate(15deg);
    }

100% {
    transform: rotate(0);
    }
    }

.icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
    }

button:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
    }

@keyframes slay-3 {
    0% {
    transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
    }
/*  FIN TITULO ACERCA DE AGROCEFA */



.contenedor-titulo {
    text-align: center; /* Centra horizontalmente el contenido */
    background-color: rgb(106, 212, 180); /* Fondo verde claro */
    transition: background-color 0.3s, color 0.3s; /* Transición suave de colores */
    padding: 10px 0; /* Espaciado interior para que se vea mejor */
}

.titulo1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: inline-block; /* Hace que el título ocupe solo el ancho necesario */
    padding: 10px 20px; /* Espaciado interior para que se vea mejor */
    margin: 0 auto; /* Centra horizontalmente el título */
}
.titulo2 {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    display: inline-block; /* Hace que el título ocupe solo el ancho necesario */
    padding: 10px 20px; /* Espaciado interior para que se vea mejor */
    margin: 0 auto; /* Centra horizontalmente el título */
}

.titulo1:hover {
    background-color: rgb(162, 200, 235); /* Cambio de fondo al pasar el cursor */
    color: rgba(0, 0, 0, 0.932); /* Cambio de color de texto al pasar el cursor */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es interactivo */
}

/* seccion ¿que es agrocefa? */

/* Estilos para la sección */
.seccion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilos para el título */
.titulo2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para el texto */
.texto1 {
    font-size: 16px;
}

/* Estilos para la imagen */
.campesino {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Estilos para el carrusel */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    flex: 1;
    margin-right: 15px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 80%;
    height: 90%;
}

/* Estilos para los controles del carrusel */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* Estilos para los captions del carrusel */
.carousel-caption {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item:hover .carousel-caption {
    opacity: 1;
}






/* seccion de proposito */

/* Estilos para el título */
#proposito h2 {
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Estilos para el contenedor del contenido */
.contenido {
    display: flex;
    align-items: center;
    text-align: justify;
}

/* Estilos para la columna izquierda (texto) */
.columna-izquierda {
    flex: 1;
    padding-right: 20px; /* Espacio a la derecha del texto */
}

/* Estilos para la columna derecha (imagen) */
.columna-derecha {
    flex: 1;
    padding-left: 20px; /* Espacio a la izquierda de la imagen */
}

/* Estilos para la imagen con clase "espiga" */
.espiga {
    max-width: 100%;
    height: auto;
    
    display: block; /* Asegura que la imagen se comporte correctamente */
}

.texto1{
    text-align: justify;
}
