.sidebar-background-cafeto {
    background: #578497 !important;
}

.navbar-background-cafeto {
    background: #C39C69 !important;
}

.footer-background-cafeto {
    background: #CBA371 !important;
}
