.movements{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;  
}

.elements {
    display: flex;
    flex-direction: row; /* Alinea los campos uno al lado del otro */
    align-items: flex-start;
}

.form-group {
    display: inline-block;
    width: 200px; /* Ancho deseado para cada campo y etiqueta */
    margin-right: 20px; /* Espacio entre campos */
    margin-bottom: 10px; /* Espacio entre grupos de campos */
}

.salida{
    background-color: #fa9cb2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.salida:hover{
    background-color: #ffbbcb;
}

#add-element{
    padding: 0px 400px 0px 365px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: green;
    border-radius: 4px;
}

#add-ingredients{
    color: white;
    font-weight: bold;
    border: none;
    background-color: green;
    border-radius: 4px;
}

#add-utencils{
    color: white;
    font-weight: bold;
    border: none;
    background-color: green;
    border-radius: 4px;
}

.remove-element{
    padding: 10px 15px 5px 0px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    background-color: red;
    border-radius: 4px;
    border: none;
}

#textarea{
    height: 0px;
}

#elementInventory{
    width: 200px;
}

#movimientos{
    position: relative;
    top: 10px;
    text-align: center;
    font-weight: bold;
}

.table-deliveries{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#movement_pending{
    position: relative;
    top: 10px;
    text-align: center;
    font-weight: bold;
}

.pending{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.discharge{
    display: flex;
    justify-content: center;
    align-items: center;
}

#elements{
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements_discharge{
    display: flex;
    flex-direction: row; /* Alinea los campos uno al lado del otro */
    align-items: flex-start;
    max-width: 800px;
}

.button_discharge{
    position: relative;
    top: 100px;
    right: 450px;
}

.baja{
    background-color: #fa9cb2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.baja:hover{
    background-color: #ffbbcb;
}

#bajas{
    position: relative;
    top: 10px;
    text-align: center;
    font-weight: bold;
}

.table_discharge{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#pedingMovements{
    position: relative;
    left: 710px;
    text-decoration: none;
}