.title_labor{
    text-align: center;
}

.table-labors{
    max-width: 90%;
    position: relative;
    left: 55px;
}

#toggle-form{
    margin-top: 10px;
    margin-left: 2px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
}

#toggle-form-tools{
    margin-top: 10px;
    margin-left: 2px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
}

#toggle-form-consumables{
    margin-top: 10px;
    margin-left: 2px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
}

.red-button {
    background-color: red;
    color: white; /* Cambia el color del texto para que sea legible */
}

.executors{
    display: none;
}

#title_executor{
    margin-top: 5px;
}

#title_tools{
    margin-top: 5px;
}

#add-executor{
    width: 970px;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
}

#add-tools{
    width: 748px;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
}

#add-consumables{
    width: 802px;
    padding: 5px 0px 5px 0px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
}

.remove-executor{
    position: relative;
    left: 2px;
    padding: 10px 5px 10px 5px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    background-color: red;
    border-radius: 4px;
    border: none;
}

.remove-tools{
    position: relative;
    left: 2px;
    padding: 10px 5px 10px 5px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    background-color: red;
    border-radius: 4px;
    border: none;
}

#executors{
    background-color: #f0f0f0; /* Cambia este valor al color de fondo que desees */
}

.quantity{
    position: absolute;
    color: #666; 
    font-size: 14px; 
    margin-top: 60px;
}

.form-group-consumables{
    display: inline-block;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}
