.card {
    width: 350px;
    border: none;
    border-radius: 14px !important
}

.area1 {
    background-color: #16A085;
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    padding-top: 83px !important
}

.image {
    top: -62px;
    position: relative
}

.image img {
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.area2 {
    background-color: #fff;
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 14px !important
}

.name {
    font-size: 25px;
    font-weight: 650
}

.information {
    color: #16A085;
    font-weight: 500;
    font-size: 16px;
}

.list-icons {
    display: inline-flex;
    color: #16A085
}

.list-icons li {
    list-style: none;
    padding: 12px;
    border-radius: 10px;
    width: 49px;
    margin-right: 10px
}

.list-icons li i {
    font-size: 17px;
    color: #fff
}

@media (max-width:700px) {
    .list-icons {
        display: block
    }
}

.facebook {
    background: #3b5998
}

.instagram {
    background: #F50057
}

.youtube {
    background: #ff0000
}

.whatsapp {
    background: #4dc247
}

.pinterest {
    background: #cb2027
}