.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(39, 174, 96);
    position: relative;
    border-radius: 10px;
}

.postulate {
    box-shadow: 0 0 20px 1px rgba(255, 49, 49);
    border-radius: 10px;
}

.register {
    box-shadow: 0 0 20px 1px rgba(49, 127, 255);
    border-radius: 10px;
}