.container{
    margin-top:100px;
    margin-bottom:100px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-inner .carousel-caption h5 {
  color: rgb(0, 0, 0);
}

#custCarousel .carousel-indicators {
  position: static;
  margin-top:20px;
}

#custCarousel .carousel-indicators > li {
width:100px;
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75;
}

.carousel-item img{

  width:80%;
}
.team{
    width: 100%;
    height: 90vh;
    background-image: url(image/bg1.jpg);
    background-size: cover;
    background-position: center;
  }

  .team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
  }

  .team h1 span{
    color: #000000;
    margin-left: 15px;
    font-family: mv boli;
  }


  .team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
  }

  .team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
  }

  .team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
  }

  .team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
  }

  .team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
  }

  .team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
  }

  .team .team_box .profile:hover .info{
    top: 60%;
  }

  .team .team_box .profile .info .name{
    color: #000000;
    margin-bottom: 15px;
  }

  .team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
  }

  .team .team_box .profile .info .team_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
  }

  .team .team_box .profile .info .team_icon i:hover{
    color: #d71727;
  }
