.img-size {
    width: 100px !important;
}

.carousel-container {
    width: 100%; /* Ancho total de la ventana */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.card-carousel {
    display: flex; /* Muestra las cards en una fila */
    animation: carousel-scroll 20s linear infinite; /* Animación de desplazamiento */
}

.card {
    transition: transform 0.3s ease-in-out;
    margin-right: 20px; /* Ajusta la cantidad de margen según tus preferencias */
    flex: 0 0 50%; /* Cada card ocupa la mitad del ancho del contenedor */
    /* Otros estilos de la card */
}

.card:hover {
    transform: scale(1.1); /* Ajusta el factor de escala según tus preferencias */
}

@keyframes carousel-scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


