#sidebar {
    top: 0;
    left: 0;
    min-width: 200px;
    max-width: 300px;
    padding: 15px;
    background-color: #6E7E52;
}
.card-image {
    height: 200px;
    width: 300px;
    background-size: cover !important;
    background-position: center center !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-image:hover {
    opacity: 0.8;
}

.card-category {
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.386);
    width: 100%;
    position: absolute;
    font-size: 15px;
}

.card-description {
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    bottom: 0px;
    width: 100%;
    height: 30px;
    position: absolute;
    padding-inline: 10px;
    background-color: #6E7E52;
    font-size: 14px;
}