.sidebar-primary {
  background: #28b463; /* Color de fondo del sidebar */
  color: #ffffff; /* Color del texto del sidebar */
  width: 250px; /* Ancho del sidebar */
}
.sidebar-divider {
  border-top: 1px solid #333;
  margin: 10px 0;
  padding: 0;
}
.user-panel {
  background: #1a9850;
  border-radius: 10px;
}
/* Estilo de los elementos de menú */
.nav-sidebar .nav-link {
  color: #ffffff; /* Color del texto del menú */
}
.nav-sidebar .nav-item {
  color: #ffffff; /* Color del texto del menú */
  padding-left: 10px;
}
/* Estilo de los íconos del menú */
.nav-sidebar .nav-link i {
  margin-right: 25px; /* Espacio a la derecha de los íconos */
}/* Cambiar color al pasar el ratón por encima del botón del menú */

.nav-sidebar .nav-item:hover .nav-link {
  background-color: #1a9850; /* Cambiar a color gris al pasar el ratón */
  color: white; /* Cambiar el color del texto a blanco al pasar el ratón */
}

/* Estilo del menú desplegable */
.nav-sidebar .nav-item.has-treeview .nav-link {
  padding-right: 30px; /* Agregar espacio a la derecha para el ícono de flecha */
}

/* Estilo del menú desplegable activo */
.nav-sidebar .nav-item.has-treeview.active:hover .nav-link p{
  background-color: #1a9850; /* Color de fondo del menú desplegable activo al pasar el ratón */
  color: #ffffff; /* Color del texto del menú desplegable activo al pasar el ratón */
}

/* Estilo de los elementos de menú activos (cuando están seleccionados) */
.nav-sidebar .nav-item.has-treeview.active:hover .nav-link p{
  background-color: #333; /* Color de fondo del menú desplegable activo al pasar el ratón */
}

/* Estilo del menú desplegable */
.custom-dropdown .nav-link i.right {
  position: absolute;
  right: 10px; /* Espacio a la derecha del ícono de flecha */
}

/* Estilo del menú desplegable activo */
.custom-dropdown .nav-link.active i.right {
  transform: rotate(90deg); /* Gira la flecha hacia abajo cuando está activo */
}


h1{
  font-weight: bold; /* Grosor de la fuente */
  color: black; /* Color del texto */
  text-align: initial; /* Alineación del texto */
  margin-bottom: 20px; /* Espacio en la parte inferior del elemento */
}
h2, h3, h4, h5, h6 {
  font-weight: bold; /* Grosor de la fuente para todos los encabezados */
  color: black; /* Color del texto para todos los encabezados */
}

#logo{
  font-size: 25px;
  font-weight: bold; /* Grosor de la fuente */
  color: white; /* Color del texto */
  text-align: center; /* Alineación del texto */
  margin-bottom: 20px; /* Espacio en la parte inferior del elemento */
}

.nav-link {
  font-weight: bold;
}
.dropdown-item{
  font-weight: bold;
}
/* Estilo CSS para aplicar fuente en negrita a todos los botones con clases btn y btn-success */
.btn.btn-success {
  font-weight: bold;
}

