/*estilo para oculatar el punto de cada elemento de una lista*/
li {
  list-style-type: none; /* Oculta el marcador de lista */
}
.sidebar-primary {
  background: #28b463; /* Color de fondo del sidebar */
  color: #ffffff; /* Color del texto del sidebar */
  width: 250px; /* Ancho del sidebar */
}
.sidebar-divider {
  border-top: 1px solid #333;
  margin: 10px 0;
  padding: 0;
}
.user-panel {
  background: #1a9850;
  border-radius: 10px;
}
/* Estilo de los elementos de menú */
.nav-sidebar .nav-link {
  color: #ffffff; /* Color del texto del menú */
}
.nav-sidebar .nav-item {
  color: #ffffff; /* Color del texto del menú */
  padding-left: 10px;
}
/* Estilo de los íconos del menú */
.nav-sidebar .nav-link i {
  margin-right: 25px; /* Espacio a la derecha de los íconos */
}
/* Estilo de los elementos de menú activos (cuando están seleccionados) */
.nav-sidebar .nav-link.active {
  background-color: #212121; /* Color de fondo del elemento activo */
  color: #ffffff; /* Color del texto del elemento activo */
}
/* Estilo del menú 
To change the color of the sidebar buttons from blue to gray when you mouse over them, you can use the following CSS code:

/* Estilo del menú desplegable */
.custom-dropdown .nav-link i.right {
  position: absolute;
  right: 10px; /* Espacio a la derecha del ícono de flecha */
}

/* Estilo del menú desplegable activo */
.custom-dropdown .nav-link.active i.right {
  transform: rotate(90deg); /* Gira la flecha hacia abajo cuando está activo */
}

/* Estilo de los elementos de menú cuando el mouse está encima */
.nav-sidebar .nav-item:hover .nav-link {
  background-color: #1a9850; /* Mantiene el color de fondo */
  color: white; /* Cambia el color del texto a gris oscuro */
}

h1{
  font-weight: bold; /* Grosor de la fuente */
  color: black; /* Color del texto */
  text-align: initial; /* Alineación del texto */
  margin-bottom: 20px; /* Espacio en la parte inferior del elemento */
}
h2, h3, h4, h5, h6 {
  font-weight: bold; /* Grosor de la fuente para todos los encabezados */
  color: black; /* Color del texto para todos los encabezados */
}

#logo{
  font-size: 25px;
  font-weight: bold; /* Grosor de la fuente */
  color: white; /* Color del texto */
  text-align: center; /* Alineación del texto */
  margin-bottom: 20px; /* Espacio en la parte inferior del elemento */
}

.nav-link {
  font-weight: bold;
}
.dropdown-item{
  font-weight: bold;
}
/* Estilo CSS para aplicar fuente en negrita a todos los botones con clases btn y btn-success */
.btn.btn-success {
  font-weight: bold;
}
label {
  font-weight: bold;
}
/* Estilo CSS para aplicar diseño y animacion a todos los checkbox con id checkbox*/
.check_container {
  position: relative;
}

.checkbox {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid #28b463;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px; /* Espacio entre el checkbox y el texto */
  display: inline-block; /* Cambiado de "block" a "inline-block" para alinear horizontalmente */
  transition: all 0.3s linear;
}


.checkbox::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 20%;
  width: 6px;
  height: 12px;
  opacity: 0;
  transform: rotate(45deg) scale(0) translate(-50%, -50%);
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  transition: all 0.3s linear;
}

#checkbox:checked ~ .checkbox::after {
  opacity: 1 !important;
  transform: rotate(50deg) scale(1) translate(20%, -25%) !important;
}

#checkbox:checked ~ .checkbox {
  background: #28b463;
  border: none;
}

.hidden {
  display: none !important;
}
